<div class="modal-header">
  <h4 class="modal-title">Le quizz que vous chercher à copier existe déjà !</h4>
</div>
<div class="modal-body">
  <form>
    <edit-categories categories="vm.quizz.categories" is-my-quizz="vm.isMyQuizz()" edit="true"></edit-categories>
    <div class="form-group">
      <label>Nom</label>
      <input type="text" ng-model="vm.quizz.name" class="form-control" required="">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()" type="button">Annuler</button>
  <button class="btn btn-danger" ng-click="vm.submit()" type="button">Renommer et Copier</button>
</div>
