<div class="panel panel-default">
  <a ui-sref="home.campaigns">
    <div class="panel-heading">Créer une campagne</div>
  </a>
  <div class="panel-body">
    <div ng-hide="$ctrl.alert" class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled">
        Choisir un quizz <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="quizz in $ctrl.quizzes track by $index"><a ui-sref="home.campaign({quizzId:quizz.key})">{{quizz.name}} {{quizz.categories | categories}}</a></li>
      </ul>
    </div>
    <uib-alert ng-show="$ctrl.alert" id="alerts" ng-model="$ctrl.alert" type="{{alert.type}}">
      {{$ctrl.alert.msg}}
    </uib-alert>
  </div>
</div>
