<div class="table-responsive">
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <th>Informations</th>
      <th>Score</th>
    </thead>
    <tbody>
      <tr ng-repeat="info in $ctrl.quizzSubmissions"
      ng-class="{'warning':$ctrl.isWarning(info.score),'danger':$ctrl.isLow(info.score),
            'info':$ctrl.isQuiteGood(info.score),'success':$ctrl.isExcelent(info.score)}">
        <td class="left">
          <span pretty-json="info.respondentInfo"></span>
        </td>
        <td>{{info.score * 100 | number:2}}%</td>
      </tr>
    </tbody>
  </table>
</div>
