respondent-info-list {
  pre.pretty-json{
    outline: none;
    padding: 0px;
    margin: 0px;
  }
  pre {
      background-color: transparent;
      border: none;
      border-radius: 0px;
  }
  td.left {
    text-align: left;
  }
}
