<fieldset ng-disabled="true">
  <uib-accordion>
    <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        {{$ctrl.heading}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <question-view ng-repeat="question in $ctrl.quizz.questions track by $index" index="$index" question="question"></question-view>
    </uib-accordion-group>
  </uib-accordion>
</fieldset>
