@media print {
  answer-print{
    .well-xs.answer{
      padding-top:15px;
      margin-bottom: 0px;
      padding-left: 0px;
      margin-left: 0px;
    }
    .well.answer{
      background-color: inherit;
      min-height: none;
      border: none;
      label {
        margin-bottom: 0px;
      }
    }

    .comment{
      padding-top: 10px !important;
    }
  }
}

answer-print{
  .media-body .answer{
      padding-left: 0px;
      margin-left: 0px;
  }
}
