<div class="media">
  <div class="media-left media-middle">
    <div ng-if="$ctrl.showSolution">
      <div ng-if="$ctrl.type === 'MULTIPLE_CHOICE'">
        <input type="checkbox" ng-model="$ctrl.reponse.responses[$ctrl.questionIndex].answers[$ctrl.index]" id="{{$ctrl.questionIndex}}choice{{$ctrl.index}}" name="{{$ctrl.questionIndex}}answerToQuestion{{$ctrl.index}}" ng-checked="$ctrl.answer.checked" >
      </div>
      <div ng-if="$ctrl.type === 'ONE_CHOICE' && $ctrl.reponse">
        <input type="radio" ng-model="$ctrl.reponse.responses[$ctrl.questionIndex].choosenRadio" id="{{$ctrl.questionIndex}}choice{{$ctrl.index}}"  value="{{$ctrl.index}}" ng-click>
      </div>
      <div ng-if="$ctrl.type === 'ONE_CHOICE' && !$ctrl.reponse">
        <input type="radio" ng-model="$ctrl.question.value" id="{{$ctrl.questionIndex}}choice{{$ctrl.index}}" value="{{$ctrl.index}}" ng-click>
      </div>
    </div>
    <div ng-if="!$ctrl.showSolution">
      <div ng-if="$ctrl.type === 'MULTIPLE_CHOICE'">
        <input type="checkbox" >
      </div>
      <div ng-if="$ctrl.type === 'ONE_CHOICE'">
        <input type="radio">
      </div>
    </div>
  </div>
  <div class="media-body well well-xs answer">
      <label class="label-font-normal" for="{{$ctrl.questionIndex}}choice{{$ctrl.index}}">
        <div class="col-xs-12 marked-img" marked="$ctrl.answer.content"></div>
      </label>
      <div ng-if="$ctrl.answer.comment && $ctrl.showSolution">
        <div  class="col-xs-12 marked-img well well-xs comment" marked="$ctrl.answer.comment"></div>
      </div>
  </div>
</div>
