<div class="media">
  <div class="media-left media-middle">
    <input ng-if="$ctrl.type === 'MULTIPLE_CHOICE'" type="checkbox" ng-model="$ctrl.answer.checked">
    <input ng-if="$ctrl.type === 'ONE_CHOICE'" type="radio" ng-model="$ctrl.question.value"  value="{{$ctrl.answerIndex}}"  ng-click>
    <span ng-show="$ctrl.editable" class="text-danger glyphicon glyphicon-trash" ng-click="$ctrl.onDelete({answer:$ctrl.answer})" tooltip-placement="left" uib-tooltip="Supprimer la réponse"></span>
    <span ng-show="$ctrl.editable" class="glyphicon glyphicon-edit" ng-class="{'text-primary':!$ctrl.commentVisible,'text-danger':$ctrl.commentVisible}" ng-click="$ctrl.showComment()" tooltip-placement="left" uib-tooltip="{{$ctrl.tooltip}}" ></span>
  </div>
  <div class="media-body">
    <markdown-editor ng-class="{'col-md-6':$ctrl.commentVisible}" text="$ctrl.answer.content" required="true" place-holder="'Valeur de la reponse (Markdown)'" head-text="'Texte'"></markdown-editor>
    <markdown-editor ng-if="$ctrl.commentVisible" class="col-md-6" text="$ctrl.answer.comment" required="false" place-holder="'Commentaire sur la reponse (Markdown)'" head-text="'Commentaire'"></markdown-editor>
  </div>
</div>
<br />
