<div class="panel panel-default">
  <div class="panel-heading"><a ui-sref="home.quizzes" class="white-link">Quizzes</a>&nbsp;
    <a ui-sref="home.quizz" class="white-link pull-right" uib-tooltip="Créer un quizz" tooltip-placement="left">
    <span class="glyphicon glyphicon-plus"></span></a></div>
  <div class="panel-body">
    <span us-spinner spinner-on="$ctrl.spinner"></span>
    <div class="table-responsive">
      <table ng-hide="$ctrl.emptyMessage" $ctrl.spinner ng-table="$ctrl.quizzParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="quizz in $data">
          <td title="'Dossier'" sortable="'category'">
            <categories values="quizz.categories"></categories>
          </td>
          <td title="'Nom'" sortable="'name'">
            <a ui-sref="home.quizz({id:quizz.key})">{{quizz.name}}</a>
          </td>
          <td title="'Description'" sortable="'description'">
            {{quizz.description}}
          </td>
          <td title="'Visibilité'" sortable="'visibility'">
            {{quizz.visibility | visibility}}
          </td>
          <td title="'Action'">
            <span uib-tooltip="Modifier ce quizz" class="glyphicon glyphicon-edit text-primary pointer" ui-sref="home.quizz({id:quizz.key})"></span>
            <span uib-tooltip="Créer un campagne" class="glyphicon glyphicon-bullhorn text-warning pointer" ui-sref="home.campaign({quizzId:quizz.key})"></span>
            <span tooltip-placement="left" uib-tooltip="Supprimer ce quizz" class="glyphicon glyphicon-trash text-danger" ng-click="$ctrl.delete(quizz)"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-muted center-block" ng-show="$ctrl.emptyMessage">Aucun quizz disponible.</div>
  </div>
</div>
