<div class="modal-header">
  <h4 class="modal-title">A propos</h4>
</div>
<div class="modal-body">
  <p>Nom de la branche : {{ vm.data.git.branch }}</p>
  <p>Id du commit : {{vm.data.git.commit.id}}</p>
  <p>Date du commit : {{vm.data.git.commit.time | date:'dd/MM/yyyy'}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="vm.ok()" type="button">Fermer</button>
</div>
