<div class="panel panel-default">
  <div class="panel-heading"><a ui-sref="home.quizzes" class="white-link">Informations</a>&nbsp;
  </div>
  <div class="panel-body">
    <ng-form name="respondentForm" class="col-md-offset-1 col-md-9">
      <div class="form-group" ng-if="$ctrl.infos.hasFirstName" ng-class="{'has-success':respondentForm.respondentFirstName.$valid}">
        <label>Prénom</label>
        <input type="text" ng-model="$ctrl.infoValues.firstName" class="form-control" name="respondentFirstName" required="">
        <span class="text-danger" ng-if="respondentForm.respondentFirstName.$error.required && respondentForm.respondentFirstName.$dirty">* Ce champ est obligatoire</span>
      </div>
      <div class="form-group" ng-if="$ctrl.infos.hasLastName" ng-class="{'has-success':respondentForm.respondentLastName.$valid}">
        <label>Nom</label>
        <input type="text" ng-model="$ctrl.infoValues.lastName" class="form-control" name="respondentLastName" required="">
        <span class="text-danger" ng-if="respondentForm.respondentLastName.$error.required  && respondentForm.respondentLastName.$dirty">* Ce champ est obligatoire</span>
      </div>      
      <div class="form-group" ng-if="$ctrl.infos.hasMail" ng-class="{'has-error':!respondentForm.respondentMail.$valid && !respondentForm.respondentMail.$error.required,'has-success':respondentForm.respondentMail.$valid}">
        <label>Mail</label>
        <input type="mail" ng-model="$ctrl.infoValues.mail" class="form-control" ng-pattern="/^.*@.*$/" name="respondentMail" required="">
        <span class="text-danger" ng-show="respondentForm.respondentMail.$error.required && respondentForm.respondentMail.$dirty">* Ce champ est obligatoire</span>
        <span class="text-danger" ng-show="!respondentForm.respondentMail.$valid && !respondentForm.respondentMail.$error.required ">L'adresse saisie n'est pas valide</span>
      </div>
      <div class="form-group" ng-if="$ctrl.infos.hasPhone" ng-class="{'has-error':!respondentForm.respondentPhone.$valid && !respondentForm.respondentPhone.$error.required,'has-success':respondentForm.respondentPhone.$valid}">
        <label>Téléphone</label>
        <input type="text" ng-model="$ctrl.infoValues.phone" class="form-control" name="respondentPhone" required="">
        <span class="text-danger" ng-show="respondentForm.respondentPhone.$error.required && respondentForm.respondentPhone.$dirty">* Ce champ est obligatoire</span>
      </div>
      <div class="form-group" ng-if="$ctrl.infos.hasCompanyName" ng-class="{'has-success':respondentForm.respondentCompanyName.$valid}">
        <label>Entreprise</label>
        <input type="text" ng-model="$ctrl.infoValues.companyName" class="form-control" name="respondentCompanyName" required="">
        <span class="text-danger" ng-if="respondentForm.respondentCompanyName.$error.required && respondentForm.respondentCompanyName.$dirty">* Ce champ est obligatoire</span>
      </div>
      <div class="form-group" ng-if="$ctrl.infos.hasCity" ng-class="{'has-success':respondentForm.respondentCity.$valid}">
        <label>Ville</label>
        <input type="text" ng-model="$ctrl.infoValues.city" class="form-control" name="respondentCity" required="">
        <span class="text-danger" ng-if="respondentForm.respondentCity.$error.required && respondentForm.respondentCity.$dirty">* Ce champ est obligatoire</span>
      </div>
      <div ng-repeat="(key,value) in $ctrl.infoValues.customFields">
        <ng-form name="customFieldsForm">
          <div class="form-group"  ng-class="{'has-success':customFieldsForm.customFields.$valid}">
            <label>{{key}}</label>
            <input type="text" ng-model="$ctrl.infoValues.customFields[key]" name="customFields" class="form-control" required="">
            <span class="text-danger" ng-if="customFieldsForm.customFields.$error.required && customFieldsForm.customFields.$dirty">* Ce champ est obligatoire</span>
          </div>
        </ng-form>
      </div>
    </ng-form>
  </div>
</div>
