<div class="form-group" flow-init flow-name="$ctrl.flow" flow-file-added="$ctrl.fileAdded($file, $event, $flow)">
  <div class="btn btn-info" flow-btn>Ajouter une pièce jointe</div>
  <span class="text-muted">Fichier < 5Mb</span>
</div>
<div class="form-group">
  <div ng-if="$ctrl.nbFileInUploadQueue"  class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
  </div>
</div>
<ul class="list-group col-xs-6" ng-repeat="file in $ctrl.files">
  <li class="list-group-item ">
    <a ng-src="{{$ctrl.baseFileUrl + file.key}}" target="_blank">{{file |attachedFile}}</a>
    <div class="pull-right">
      <span class="text-primary glyphicon glyphicon-link" ng-click="$ctrl.copyFileInsertCode($index)" tooltip-placement="left" uib-tooltip="Insérer en tant que lien"></span>
      <span ng-show="$ctrl.isImg(file)" class="text-primary glyphicon glyphicon-picture" ng-click="$ctrl.copyImgInsertCode($index)" tooltip-placement="left" uib-tooltip="Insérer en tant qu'image"></span>
      <span class="text-danger glyphicon glyphicon-trash" ng-click="$ctrl.deleteFile($index)" tooltip-placement="left" uib-tooltip="Supprimer"></span>
    </div>
  </li>
</ul>
