<div class="form-group">
    <h3>Destinataires</h3>
    <ul class="list-inline inline-badge-list" ng-repeat="recipient in $ctrl.mailToSend track by $index">
      <li>
        <span class="badge"> <span ng-click="$ctrl.deleteMail($index)"> {{recipient.mail}} x</span></span>
      </li>
    </ul>
    <div class="form-group">
      <label>Civilité *</label>
      <div class="radio-inline">
        <label>
          <input type="radio" ng-model="$ctrl.mail.gender" name="gender" value="MALE"> M.
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" ng-model="$ctrl.mail.gender" name="gender" value="FEMALE"> Mme
        </label>
      </div>
      <div class="form-inline">
        <label for="firstName">Prénom *</label>
        <input type="text" class="form-control" ng-model="$ctrl.mail.firstName" id="firstName"/>
        <label for="firstName">Nom *</label>
        <input type="text" class="form-control" ng-model="$ctrl.mail.lastName" id="lastName"/>
        <label for="email-list-input">Email *</label>
        <input type="email" class="form-control" ng-model="$ctrl.mail.mail" id="email-list-input" style="width:30%;">
        <button type="button" class="btn btn-success" ng-click="$ctrl.addMail()"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
</div>
<div class="form-group">
  <button type="button" class="btn btn-primary" ng-click="$ctrl.sendMail()">Envoyer un mail à la liste des destinataires</button>
</div>
<div class="form-group" ng-if="$ctrl.mails.length">
  <h4>Mail envoyés</h4>
  <ul ng-repeat="mail in $ctrl.mails track by $index">
    <li>{{mail.mail}}</li>
  </ul>
</div>
