<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home.main">Zenquizz</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown>
          <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
            <img ng-src="{{$ctrl.user.imageUrl}}" alt="profil" class="profil-img img-responsive">
          </a>
          <ul class="dropdown-menu">
            <li class="text-muted">{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</li>
            <li class="text-muted">{{$ctrl.user.email}}</li>
            <li class="text-muted" ng-click="$ctrl.showDetail()">A propos</li>
            <li role="separator" class="divider"></li>
            <li><a href="{{$ctrl.logout}}">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="red-separator"></div>
</nav>
