navbar {
  .red-separator {
      height: 4px;
      margin-bottom: -1px;
      background-color: $zenika-red
  }

  .dropdown-menu > li{
    padding: 3px 20px;
  }

  .dropdown-menu > li > a{
    padding: 0px;
  }

  .profil-img{
    height: 30px
  }
}
