<div class="input-group">
  <input class="form-control" type="text" ng-model="$ctrl.searchValue" placeholder="Rechercher un quizz" ng-change="$ctrl.search()">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  </span>
</div>
