<div class="panel panel-default">
  <div class="panel-heading "><a ui-sref="home.search" class="white-link">Rechercher un quizz</a></div>
  <div class="panel-body">
    <form class="form-inline">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="$ctrl.nameSearched" placeholder="Chercher un quizz" ng-enter="$ctrl.search()">
        <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="$ctrl.search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
      <div class="form-group">
        <label>&nbsp;Type de recherche :</label>
        <label class="radio-inline">
          <input type="radio" ng-model="$ctrl.searchType" name="searchType" value="QUIZZ" required="" ng-change="$ctrl.refresh()"> par Quizz
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="$ctrl.searchType" name="searchType" value="AUTHOR" ng-change="$ctrl.refresh()"> par Auteur
        </label>
      </div>
    </form>
    <span us-spinner spinner-on="$ctrl.spinner"></span>
    <div class="table-responsive">
      <table ng-hide="$ctrl.spinner || $ctrl.emptyMessage" ng-table="$ctrl.quizzParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="quizz in $data">
          <td title="'Auteur'" sortable="'user'">
            {{quizz.user.firstName}} {{quizz.user.lastName}}
          </td>
          <td title="'Dossier'" sortable="'quizz.quizzLight.categories'">
            <categories values="quizz.quizzLight.categories"></categories>
          </td>
          <td title="'Nom'" sortable="'quizz.quizzLight.name'">
            <a ui-sref="home.quizz({id:quizz.quizzLight.key})">{{quizz.quizzLight.name}}</a>
          </td>
          <td title="'Description'" sortable="'quizz.quizzLight.description'">
            {{quizz.quizzLight.description}}
          </td>
          <td title="'Action'">
            <span uib-tooltip="Voir le quizz" class="glyphicon glyphicon-search text-info pointer" ui-sref="home.quizz({id:quizz.quizzLight.key})"></span>
            <span tooltip-placement="left" uib-tooltip="Voir le quizz de cet auteur" class="glyphicon glyphicon-user text-info pointer" ng-click="$ctrl.seeQuizzFromUser(quizz.user.email)"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-muted center-blocks" ng-show="$ctrl.emptyMessage && $ctrl.showMessage && !$ctrl.spinner">Aucun quizz disponible pour cette recherche.</div>
  </div>
</div>
