<uib-tabset active="active">
  <uib-tab index="0">
    <uib-tab-heading>
      <span tooltip-placement="right" uib-tooltip="Markdown">{{$ctrl.headText}}</span>
    </uib-tab-heading>
    <textarea msd-elastic ng-model="$ctrl.text" class="form-control" rows="3" ng-required="$ctrl.required" placeholder="{{$ctrl.placeHolder}}"></textarea>
  </uib-tab>
  <uib-tab index="1" heading="Aperçu">
    <div class="marked-img" marked="$ctrl.text">
    </div>
  </uib-tab>
</uib-tabset>
