<div class="panel panel-default">
  <div class="panel-heading">Question n°{{$ctrl.index + 1}}
    <span class="pull-right">
      <span ng-show="$ctrl.editable" class="glyphicon glyphicon-trash" ng-click="$ctrl.onDelete({question:$ctrl.question})"></span>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-offset-1 col-md-9 marked-img" marked="$ctrl.question.text"></div>
      <div ng-if="$ctrl.question.type !== 'OPEN'" class="col-md-offset-1 col-md-10" class="row">
        <answer-view ng-repeat="answer in $ctrl.question.answers track by $index" answer="answer" index="$index" type="$ctrl.question.type" question="$ctrl.question" reponse="$ctrl.response" question-index="$ctrl.index"></answer-view>
      </div>
      <div class="col-md-offset-1 col-lg-9" ng-if="$ctrl.question.type === 'OPEN'">
          <textarea ng-model="$ctrl.response.responses[$ctrl.index].textValue" name="value" class="form-control"/>
      </div>
      <div class="col-md-offset-1 col-lg-9" ng-if=" $ctrl.question.comment">
        <br />
        <h4>Commentaire : </h4>
        <div class="col-xs-12 marked-img well" marked="$ctrl.question.comment"></div>
      </div>
    </div>
  </div>
</div>
