<div class="panel panel-default">
  <div class="panel-heading">
    <span ui-sref="home.campaigns">Campagnes archivées</span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table ng-hide="$ctrl.emptyMessage" ng-table="$ctrl.campaignParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="campaign in $data">
          <td title="'Dossier'" sortable="'category'">
            <categories values="campaign.categories"></categories>
          </td>
          <td title="'Nom'" sortable="'name'">
            <a ui-sref="home.campaign({id:campaign.id,quizzId:'id'})">{{campaign.name}}</a>
          </td>
          <td title="'Status'" sortable="'status'">
            {{campaign.status | campaignStatus}}
          </td>
          <td title="'Action'">
            <span uib-tooltip="Détails de la campagne" class="glyphicon glyphicon-search text-primary pointer" ui-sref="home.campaign({id:campaign.id,quizzId:'id'})"></span>
            <span uib-tooltip="Supprimer la campagne"  class="glyphicon glyphicon-trash text-danger" ng-click="$ctrl.deleteCampaign(campaign)"></span>
            <a tooltip-placement="left" uib-tooltip="Détail des réponses" class="glyphicon glyphicon-stats text-warning" ui-sref="home.campaignDetail({id:campaign.id})" ></a>
            <a tooltip-placement="left" uib-tooltip="Voir la page de réponse" class="glyphicon glyphicon-share text-success pointer" ui-sref="answer({id:campaign.id})" target="_blank"></a>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-muted center-block" ng-show="$ctrl.emptyMessage">Aucune campagne disponible.</div>
  </div>
</div>
