<div class="modal-header">
  <h4 class="modal-title">Renommer la catégorie</h4>
</div>
<div class="modal-body">
  <ng-form name="categoryForm">
    <div class="form-group" ng-class="{'has-error':categoryForm.category.$error.pattern || (categoryForm.category.$error.required && categoryForm.category.$dirty)}">
      <label>Nouveau nom de la catégorie</label>
      <input type="text" class="form-control" ng-model="vm.newName" name="category" pattern="^[^,]*$" required="">
      <span ng-show="categoryForm.category.$error.pattern">La categorie ne doit pas contenir de virgule!</span>
      <span ng-show="categoryForm.category.$error.required">La categorie ne doit pas être vide!</span>
    </div>
  <ng-form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()" type="button">Annuler</button>
  <button class="btn btn-danger" ng-disabled="!categoryForm.category.$valid" ng-click="vm.ok()" type="button">Confirmer</button>
</div>
