<section ng-if="!$ctrl.campaign">
  <h1>Bienvenue sur Zenquizz</h1>
  <p><strong>{{$ctrl.infos.user.firstName}} {{$ctrl.infos.user.lastName}}</strong> vous a invité à participer à un quizz.</p>
  <p>Vous avez <strong>{{$ctrl.infos.delay}} minutes</strong> pour répondre à ce quizz à partir du moment ou vous cliquez sur "Valider"</p>
  <p>Bonne chance <strong>{{$ctrl.infos.recipient.firstName}} {{$ctrl.infos.recipient.lastName}}</strong></p>
  <button type="button" class="btn btn-lg btn-success" ng-click="$ctrl.validate()">Valider</button>
</section>

<countdown ng-if="$ctrl.campaign" minutes="$ctrl.campaign.delayToAnswer" end="$ctrl.timeout()"></countdown>

<div class="container" ng-if="$ctrl.campaign">
  <div id="response-head" ng-if="$ctrl.campaign" class="jumbotron jumbotron-xs">
    <h1>{{$ctrl.campaign.name}}</h1>
    <h2>{{$ctrl.campaign.description}}</h2>
  </div>
  <uib-alert id="alerts" ng-repeat="alert in $ctrl.alerts" type="{{alert.type}}">
    {{alert.msg}}
  </uib-alert>
  <form ng-if="$ctrl.campaign" ng-submit="$ctrl.sendAnswer()" novalidate="" name="form">
    <fieldset ng-disabled="$ctrl.submitted">
      <respondent-info-edit ng-if="$ctrl.hasInformation()" infos="$ctrl.campaign.askedRespondentInfo" info-values="$ctrl.response.respondentInfo"></respondent-info-edit>
      <question-view ng-repeat="question in $ctrl.questions track by $index" quizz-index="$parent.$index * quizz.questions.length" index="$index" question="question" response="$ctrl.response"></question-view>
    </fieldset>
    <button type="submit" class="center-block btn btn-success" ng-disabled="form.$invalid || $ctrl.submitted">Soumettre les réponses</button>
  </form>
  <section ng-if="$ctrl.solution">
    <h3>Correction : </h3>
    <fieldset ng-disabled="true">
      <question-view ng-repeat="question in $ctrl.solutionQuestion track by $index" index="$index" question="question" response="$ctrl.response"></question-view>
    </fieldset>
  </section>
<div>
