response-landingpage {
  section{
    background-color: #fff;
    text-align : center;
    margin-top: 35vh;
    height: 0;
    font-size: 1.5em;
  }

  h1{
    color: $zenika-red;
    font-size: 2.5em;
  }
}
