<div class="media">
  <div class="media-left media-middle">
    <div ng-if="$ctrl.type === 'MULTIPLE_CHOICE'">
      <input type="checkbox" ng-model="$ctrl.reponse.responses[$ctrl.questionIndex].answers[$ctrl.index]" id="{{$ctrl.questionIndex}}choice{{$ctrl.index}}" name="{{$ctrl.questionIndex}}answerToQuestion{{$ctrl.index}}" ng-checked="$ctrl.answer.checked" >
    </div>
    <div ng-if="$ctrl.type === 'ONE_CHOICE' && $ctrl.reponse">
      <input type="radio" ng-model="$ctrl.reponse.responses[$ctrl.questionIndex].choosenRadio" id="{{$ctrl.questionIndex}}choice{{$ctrl.index}}"  value="{{$ctrl.index}}" ng-click>
    </div>
    <div ng-if="$ctrl.type === 'ONE_CHOICE' && !$ctrl.reponse">
      <input type="radio" ng-model="$ctrl.question.value" id="{{$ctrl.questionIndex}}choice{{$ctrl.index}}" value="{{$ctrl.index}}" ng-click>
    </div>
  </div>
  <div class="media-body well well-xs">
      <label class="label-font-normal" for="{{$ctrl.questionIndex}}choice{{$ctrl.index}}">
        <div class="col-xs-12 marked-img" marked="$ctrl.answer.content"></div>
      </label>
      <br />
      <div ng-if="$ctrl.answer.comment">
        <div  class="col-xs-12 marked-img well well-xs" marked="$ctrl.answer.comment"></div>
      </div>
  </div>
</div>
<br />
