<navbar user="$ctrl.user" logout="$ctrl.logout"></navbar>
<div class="container-fluid">
  <div class="row">
    <aside class="col-md-3 hidden-sm hidden-xs">
      <tree-map></tree-map>
    </aside>
    <div class="col-sm-12 col-md-9">
      <breadcrumb></breadcrumb>
      <div class="row-fluid" ui-view></div>
    </div>
  </div>
</div>
