<script type="text/ng-template" id="nodes_renderer.html">
  <div ng-show="$ctrl.visible(node)">
    <div ng-show="node.category">
        <span ng-click="$ctrl.toggle(this)">
        <span class="glyphicon"
            ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}">
            </span>
        </span>
        &nbsp;
        <span class="glyphicon"
            ng-class="{'glyphicon-folder-close': collapsed,'glyphicon-folder-open': !collapsed}">
            </span>
        </span>
        &nbsp;
        <span ng-show="node.type === 'CAMPAIGN'">
            <a ng-show="node.id === null" ui-sref="home.campaigns" context-menu="$ctrl.headCampaignCategoryMenu">
                {{node.name}}
            </a>
            <span ng-show="node.id">
                {{node.name}}
            </span>
        </span>
        <span ng-show="node.type === 'QUIZZ' " context-menu="$ctrl.quizzMenu">
            <a ng-show="node.type === 'QUIZZ' && node.id === null" ui-sref="home.quizzes" context-menu="$ctrl.headCategoryMenu">
                {{node.name}}
            </a>
            <span ng-show="node.id">
                {{node.name}}
            </span>
        </span>
    </div>
    <div ng-hide="node.category" style="padding-left:5px;">
      <a class="text-info" ng-show="node.type == 'QUIZZ'" ui-sref="home.quizz({id:node.id})" ui-sref-active="label label-info" context-menu="$ctrl.quizzMenu">{{node.name}}</a>
      <a class="text-info" ng-show="node.type == 'CAMPAIGN'" ui-sref="home.campaign({id:node.id,quizzId:'id'})" ui-sref-active="label label-info" context-menu="$ctrl.campaignMenu">{{node.name}}</a>
    </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="$ctrl.visible(node)" >
    </li>
  </ol>
</script>
<search-bar on-search="$ctrl.filterNodes(query)"></search-bar>
<span us-spinner spinner-on="$ctrl.spinner"></span>
<div ui-tree ng-hide="$ctrl.spinner">
  <ol ui-tree-nodes="" ng-model="$ctrl.list">
    <li ng-repeat="node in $ctrl.list.children" ui-tree-node ng-include="'nodes_renderer.html'" ></li>
  </ol>
</div>
