<span us-spinner spinner-on="$ctrl.spinner"></span>
<div class="container" ng-hide="$ctrl.spinner">
  {{$ctrl.reponse}}
  <div id="response-head" ng-if="$ctrl.campaign" class="jumbotron jumbotron-xs">
    <h1>{{$ctrl.campaign.name}}</h1>
    <h2>{{$ctrl.campaign.description}}</h2>
  </div>
  <div class="alert alert-danger" role="alert" ng-if="$ctrl.campaign === undefined">
      La campagne recherchée n'existe pas ou n'est pas ouverte.
  </div>
  <uib-alert id="alerts" ng-repeat="alert in $ctrl.alerts" type="{{alert.type}}">
    {{alert.msg}}
  </uib-alert>
  <form ng-if="$ctrl.campaign && $ctrl.showQuestions" ng-submit="$ctrl.sendAnswer(form)" novalidate="" name="form">
    <fieldset ng-disabled="$ctrl.submitted" ng-init="questions = $ctrl.flatQuestions()" >
      <respondent-info-edit ng-if="$ctrl.hasInformation()" infos="$ctrl.campaign.askedRespondentInfo" info-values="$ctrl.response.respondentInfo"></respondent-info-edit>
      <question-view ng-repeat="question in $ctrl.questions track by $index" quizz-index="$parent.$index" index="$index" question="question" response="$ctrl.response"></question-view>
    </fieldset>
    <button type="submit" class="center-block btn btn-success" ng-disabled="form.$invalid">Soumettre les réponses</button>
  </form>
  <section ng-if="$ctrl.solution">
    <h3>Correction : </h3>
    <fieldset ng-disabled="true">
      <question-view ng-repeat="question in $ctrl.solutionQuestion track by $index" index="$index" question="question" response="$ctrl.response"></question-view>
    </fieldset>
  </section>
<div>
