<div class="modal-header">
  <h4 class="modal-title">Confirmer la suppression</h4>
</div>
<div class="modal-body">
  <div ng-if="(vm.isArray(vm.text) && vm.text.length>0 ) || !vm.isArray(vm.text)">
    <p>Êtes-vous sûr de vouloir supprimer {{vm.type}} : <strong ng-if="vm.text.length === 1" class="bold" ng-class="{'text-success':vm.text[0].open,'text-danger':!vm.text[0].open}">"{{vm.text[0].name}}"
      <span ng-if="vm.text[0].open">(ouverte)</span>
      <span ng-if="!vm.text[0].open">(fermée)</span>
    </strong></p>
    <ul ng-if="vm.text.length>1" ng-repeat="campaign in vm.text track by $index">
      <li class="bold" ng-class="{'text-success':campaign.open,'text-danger':!campaign.open}"><strong>{{campaign.name}}
        <span ng-if="campaign.open">(ouverte)</span>
        <span ng-if="!campaign.open">(fermée)</span>
      </strong></li>
    </ul>
  </div>
  <div ng-if="!vm.text.length">
    <p>Aucun élément n'est à Supprimer.</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()" type="button">Annuler</button>
  <button class="btn btn-danger" ng-click="vm.ok()" type="button">Confirmer</button>
</div>
