<div class="panel panel-default">
  <div class="panel-heading"><a ui-sref="home.quizzes" class="white-link">Questions pratiques</a>&nbsp;
  </div>
  <div class="panel-body">
    <ng-form name="respondent-info">
      <fieldset class="col-md-6" ng-if="$ctrl.showUsual">
        <legend>Champs typés usuels</legend>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.infos.hasFirstName"> Prénom
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.infos.hasLastName"> Nom
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.infos.hasMail"> Mail
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.infos.hasPhone"> Téléphone
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.infos.hasCompanyName"> Société
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.infos.hasCity"> Ville
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Champs personnalisés</legend>
        <div class="form-inline col-md-10">
          <input type="text" class="form-control" ng-model="$ctrl.name" ng-enter="$ctrl.addField()">
          <span class="glyphicon glyphicon-plus text-success" ng-click="$ctrl.addField()"></span>
          <p class="help-block">Les champs personnalisés permettent de demander des informations
            complémentaires aux personnes qui répondent à cette campagne. Le champ créé est de type textuel,et sa saisie estobligatoire.</p>
        </div>
        <br />
        <div class="form-group col-md-10" ng-if="$ctrl.infos.customFields">
          <div class="list-group">
            <span>
              <span ng-repeat="field in $ctrl.infos.customFields track by $index" class="list-group-item">{{field}}
                <span class="pull-right glyphicon glyphicon-remove text-danger" ng-click="$ctrl.delete($index)"></span></span>
            </span>
          </div>
        </div>
      </fieldset>
    </ng-form>
  </div>
</div>
