<div class="form-group">
  <label for="category">Dossier &nbsp;</label>
  <ul class="list-inline inline-badge-list" ng-repeat="category in $ctrl.categories track by $index">
    <li>
      <span class="badge" ng-show="$ctrl.isMyQuizz || $ctrl.edit"> <span ng-click="$ctrl.deleteCategory($index)"> {{category}} x</span></span>
      <span ng-hide="$last">/</span>
    </li>
    <categories ng-hide="$ctrl.isMyQuizz || $ctrl.edit" values="$ctrl.categories"></categories>
  </ul>
  <div class="form-inline" ng-show="$ctrl.isMyQuizz || $ctrl.edit">
    <input type="text" class="form-control" id="category" ng-model="$ctrl.currentCategory" ng-enter="$ctrl.addCategory()"
    uib-typeahead="category for category in $ctrl.existingCategories | filter:$ctrl.currentCategory | limitTo:8" typeahead-loading="'Chargement des catégories'"
    typeahead-no-results="'Aucune catégorie'" autocomplete="off" pattern="^[^,]*$" placeholder="{{$ctrl.placeHolder}} / ..."/>
    <button type="button" class="btn btn-success" ng-click="$ctrl.addCategory()"><span class="glyphicon glyphicon-plus"></span></button>
    <span class="help-block">Pour ajouter un dossier, saisissez un nom puis cliquez sur le bouton +</span>
  </div>
</div>
