/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/"; //$fa-font-path: "../../bower_components/font-awesome/fonts/";
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
$zenika-red:#af1e3a;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.panel-default .panel-heading {
  background-color: $zenika-red;
  color: #fff;
}
body {
  background-color: #eeeeef;
}
.white-link {
  color: #fff;
}
.white-link:hover {
  color: #fff;
}
.table td {
  text-align: center;
}
.label-info {
  background-color: $zenika-red;
}
.label-info[href]:focus,
.label-info[href]:hover {
  background-color: $zenika-red;
}
.btn-add-question {
  margin-bottom: 10px;
}
.pointer {
  cursor: pointer;
}
.floating-btn-group {
  position: fixed;
  margin-top: 0;
  bottom: 5px;
  z-index: 1000;
  right:15px;
}
.label-font-normal {
  font-weight: normal;
}
.marked-img img {
  display: block;
  height: auto;
  max-width: 100%;
}
:focus {
  outline: none;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
.jumbotron-xs{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.well-xs{
  padding: 19px;
  padding-bottom: 0px;
}
.tooltip {
  z-index: 1000;
}
.media {
  padding-left: 10px;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
