$zenika-red : #af1e3a;

loginpage {
  .red-separator {
    height: 4px;
    margin-bottom: -1px;
    background-color: $zenika-red;
  }
  .login-page .login-header {
    margin-top: 5vh;
    height: 0;
    font-size: 3em;
    color: $zenika-red;
  }
   .login-page .login-band {
    padding: 0 10px 10px;
    margin-top: 33vh;
    background-color: $zenika-red;
  }
  .login-page {
    color: #fff;
    text-align: center;
  }
  .login-page .login-band h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 5em;
  }
  .btn.btn-login {
    color:$zenika-red;
    font-size: 30px;
    border: 3px solid #fff;
    -o-border-radius: 30px;
    border-radius: 30px;
  }
}
