<header>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Zenquizz</a>
        </div>
      </div>
      <div class="red-separator"></div>
    </nav>
  </header>
  <section>
    <div class="container-fluid login-page">
        <div class="row login-header">
          Bienvenue sur Zenquizz
        </div>
        <div class="row login-band">
            <h3>Connexion</h3>
            <p>
                <form action="{{$ctrl.api}}" method="post">
                    <button type="submit" class="btn btn-login">
                        <i class="fa fa-google">
                        </i>
                    </button>
                </form>
            </p>
        </div>
    </div>
  </section>
