<div class="modal-header">
  <h4 class="modal-title">Confirmer la suppression</h4>
</div>
<div class="modal-body">
  <div ng-if="(vm.isArray(vm.text) && vm.text.length>0 ) || !vm.isArray(vm.text)">
    <p>Êtes-vous sûr de supprimer {{vm.type}} : <span ng-if="!vm.isArray(vm.text)">"{{vm.text}}"</span>
      <span ng-if="vm.isArray(vm.text) && vm.text.length===1">"{{vm.text[0]}}"</span>
    </p>
    <ul ng-if="vm.isArray(vm.text) && vm.text.length>1" ng-repeat="quizz in vm.text track by $index">
      <li>{{quizz}}</li>
    </ul>
  </div>
  <div ng-if="vm.isArray(vm.text) && vm.text.length === 0">
    <p>Aucun élément n'est à Supprimer.</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()" type="button">Annuler</button>
  <button class="btn btn-danger" ng-click="vm.ok()" type="button">Confirmer</button>
</div>
