<div class="modal-header">
  <h4 class="modal-title">Confirmer la suppression</h4>
</div>
<div class="modal-body">
  <p>Êtes-vous sûr de supprimer cette question <span ng-if="vm.text">: "{{vm.text}}"</span> ?</p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()" type="button">Annuler</button>
  <button class="btn btn-danger" ng-click="vm.ok()" type="button">Confirmer</button>
</div>
