
<div id="question-{{$ctrl.index}}" class="panel panel-default">
  <div class="panel-heading">Question n°{{$ctrl.index + 1}}
    <span class="pull-right">
      <span tooltip-placement="left" uib-tooltip="Déplacer vers le haut"  ng-show="$ctrl.editable && !$ctrl.first" class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.moveUp({question:$ctrl.question})"></span>
      <span tooltip-placement="left"  uib-tooltip="Déplacer vers le bas" ng-show="$ctrl.editable && !$ctrl.last" class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.moveDown({question:$ctrl.question})"></span>
      <span tooltip-placement="left" uib-tooltip="Supprimer cette question" ng-show="$ctrl.editable" class="glyphicon glyphicon-trash" ng-click="$ctrl.onDelete({question:$ctrl.question})"></span>
      <a tooltip-placement="left" uib-tooltip="Aide Markdown" ui-sref="markdown" target="_blank"class="white-link"><span class="glyphicon glyphicon-question-sign"></span></a>
    </span>
  </div>
  <div class="panel-body">
    <uib-alert ng-repeat="alert in $ctrl.question.alerts" type="{{alert.type}}">
      {{alert.msg}}
    </uib-alert>
    <div class="form-group" ng-show="$ctrl.showAnswers">
      <label>Type de question</label>
      <label class="radio-inline">
        <input type="radio" ng-model="$ctrl.question.type" name="questionType{{$ctrl.index}}" value="MULTIPLE_CHOICE" required="" ng-change="$ctrl.changeType()"> Choix multiple
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="$ctrl.question.type" name="questionType{{$ctrl.index}}" value="ONE_CHOICE" ng-change="$ctrl.changeType()"> Choix unique
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="$ctrl.question.type" name="questionType{{$ctrl.index}}" value="OPEN" ng-change="$ctrl.changeType()"> Question ouverte
      </label>
    </div>
    <div class="form-group">
      <label>Intitulé *</label>
      <markdown-editor text="$ctrl.question.text" required="true" head-text="'Texte'" place-holder="'Texte Markdown'"></markdown-editor>
    </div>
    <div ng-hide="$ctrl.question.type === 'OPEN' || !$ctrl.showAnswers">
      <div class="form-group" ng-show="$ctrl.editable">
        <button type="button" class="btn btn-success" ng-click="$ctrl.addAnswer()">
          Ajouter une réponse <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      <answer ng-show="$ctrl.showAnswers" ng-repeat="answer in $ctrl.question.answers track by $index" answer="answer" question="$ctrl.question" answer-index="$index" index="$ctrl.index" on-delete="$ctrl.deleteAnswer(answer)" editable="$ctrl.editable" type="$ctrl.question.type"></answer>
    </div>
    <div class="form-group" ng-show="$ctrl.showAnswers">
      <label>Commentaire</label>
      <markdown-editor text="$ctrl.question.comment" required="false" head-text="'Texte'" place-holder="'Texte Markdown'"></markdown-editor>
    </div>
    <file-upload ng-show="$ctrl.showAnswers" files="$ctrl.question.fileKeys" file-add="$ctrl.fileAdd(key)"></file-upload>
  </div>
</div>
<button type="button" class="btn btn-success btn-add-question" ng-click="$ctrl.addQuestionHere({index:$ctrl.index+1})">Ajouter une question ici</button>
