<span us-spinner spinner-on="$ctrl.spinner"></span>
<div class="container" ng-hide="$ctrl.spinner">
  <img class="img img-print" src="logo.png"/>
  <span class="text-muted print"> Tout droit réservé</span>
  <a class="hidden-print" ui-sref="home.main">Revenir à l'accueil</a>
  <div class="form-group hidden-print">
    <div class="radio-inline">
      <label>
        <input type="radio" ng-model="$ctrl.mode"  value="QUIZZ" required ng-change="$ctrl.changeMode($ctrl.mode)"> Quizz
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input type="radio" ng-model="$ctrl.mode"  value="SHOW_ANSWER" ng-change="$ctrl.changeMode($ctrl.mode)"> Montrer les réponses
      </label>
    </div>
  </div>
  <div class="form-group hidden-print">
    <button type="button" class="btn btn-success" onClick="window.print()">Imprimer</button>
  </div>
  <div id="response-head" class="jumbotron jumbotron-xs">
    <h1>{{$ctrl.quizz.name}}</h1>
    <h2>{{$ctrl.quizz.description}}</h2>
  </div>
  <question-print ng-repeat="question in $ctrl.quizz.questions track by $index" index="$index" question="question" response="$ctrl.response" show-solution="$ctrl.showSolution"></question-view>
</div>
