quizz-print{
  .jumbotron h1{
      color: $zenika-red;
  }
}
@media not print {
  quizz-print{
    img.img-print{
      display: none;
    }
    .print{
      display: none;
    }
  }
}
@media print {
  quizz-print{
    div{
      page-break-inside: avoid;
    }
   hidden-print{
     display: none !important;
   }

   .jumbotron h1{
       color: $zenika-red !important;
   }
   img.img-print{
     max-height: 50px;
   }
  }
  @page {
     size:A4;
     margin-top: 15mm;
     margin-bottom: 25mm;
     margin-left: 30mm;
     margin-right: 30mm;
  }
}
