<div class="modal-header">
  <h4 class="modal-title">Attention !!!</h4>
</div>
<div class="modal-body">
  <p>Des modifications ont été apportés mais ne sont pas enregistrées.<p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" data-dismiss="modal" ng-click="vm.quit()" type="button">Continuer sans enregistrer</button>
  <button class="btn btn-success" ng-click="vm.save()" type="button">Enregistrer</button>
</div>
