<uib-accordion>
   <uib-accordion-group ng-if="$ctrl.quizzSubmissions" is-open="true">
     <uib-accordion-heading>
        Détail des résultats de la Campagne : 
     </uib-accordion-heading>
     <p><label>Nombre de réponses :</label> {{$ctrl.quizzSubmissions.length}} </p>
     <p><label>Nombre de questions :</label> {{$ctrl.questionStatistics.length}} </p>
     <p><label>Score moyen :</label> {{ 100 * $ctrl.meanScore | number:2}}%</p>
   </uib-accordion-group>
   <uib-accordion-group>
     <uib-accordion-heading>
        Statistiques par question :
     </uib-accordion-heading>

    <div ng-repeat="q in $ctrl.questionStatistics">
      <question-stat  question-statistics="q" index="$index"></question-stat>
      <hr class="col-md-8 col-md-offset-2"/>
    </div>
   </uib-accordion-group>
   <uib-accordion-group>
     <uib-accordion-heading>
        Information par réponse :
     </uib-accordion-heading>

    <respondent-info-list quizz-submissions="$ctrl.quizzSubmissions"></respondent-info-list>
   </uib-accordion-group>
 </uib-accordion>
</div>
