<div class="modal-header">
  <h4 class="modal-title">Attention</h4>
</div>
<div class="modal-body">
  <p>La liste des mails à envoyé est non vide.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="vm.ok()" type="button">Envoyer les mails et Enregistrer</button>
  <button class="btn btn-warning" ng-click="vm.cancel()" type="button">Annuler</button>
</div>
