<div class="modal-header">
  <h4 class="modal-title">Attention</h4>
</div>
<div class="modal-body">
  <p>La campagne n'est pas enregistrée.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="vm.ok()" type="button">Enregistrer et Envoyer les mails</button>
  <button class="btn btn-warning" ng-click="vm.ok()" type="button">Annuler</button>
</div>
