<uib-alert id="alerts" ng-repeat="alert in $ctrl.alerts" type="{{alert.type}}" close="$ctrl.closeAlert($index)">
  {{alert.msg}}
</uib-alert>
<form ng-submit="$ctrl.save()">
  <div class="panel panel-default">
    <div class="panel-heading">Propriétés</div>
    <div class="panel-body">
      <fieldset ng-disabled="!$ctrl.isMyQuizz()">
        <edit-categories categories="$ctrl.quizz.categories" is-my-quizz="$ctrl.isMyQuizz()" existing-categories="$ctrl.categories" place-holder="'Quizz'"></edit-categories>
        <div class="form-group">
          <label>Nom *</label>
          <input type="text" ng-model="$ctrl.quizz.name" class="form-control" required="">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" ng-model="$ctrl.quizz.description" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label>Visibilité</label>
          <label class="radio-inline">
            <input type="radio" ng-model="$ctrl.quizz.visibility" name="visibility" value="PRIVATE" required=""> privé
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="$ctrl.quizz.visibility" name="visibility" value="PUBLIC"> publique
          </label>
        </div>
      </fieldset>
    </div>
  </div>
  <fieldset ng-disabled="!$ctrl.isMyQuizz()">
    <div class="panel panel-default">
      <div class="panel-heading">Questions
        <span class="pull-right">
          <span tooltip-placement="left" uib-tooltip="Cacher/Montrer les réponses" class="glyphicon glyphicon-pencil" ng-click="$ctrl.showHideAnswers()"></span>
          <span ng-show="$ctrl.isMyQuizz()" class="glyphicon glyphicon-plus" tooltip-placement="left" uib-tooltip="Ajouter une question" ng-click="$ctrl.addQuestion($ctrl.quizz.questions.length)"></span>
        </span>
      </div>
      <div class="panel-body">
        <question ng-repeat="question in $ctrl.quizz.questions track by $index" last="$last" first="$first" move-up="$ctrl.moveUp(question)" move-down="$ctrl.moveDown(question)" question="question" index="$index" on-delete="$ctrl.onDelete(question)" editable="$ctrl.isMyQuizz()"
            add-question-here="$ctrl.addQuestion(index)" show-answers="$ctrl.showAnswers"></question>
      </div>
    </div>
  </fieldset>
  <div style="margin-bottom: 30px;">
    <quizz-view quizz="$ctrl.quizz" heading="'Aperçu du Quizz'"></quizz-view>
  </div>
  <div class="floating-btn-group pull-right" role="group" aria-label="...">
    <button type="submit" class="btn btn-success glyphicon glyphicon-floppy-disk" ng-hide="$ctrl.quizz.id && $ctrl.user.id != $ctrl.quizz.userId" uib-tooltip="Enregistrer"></button>
    <a class="btn btn-warning glyphicon glyphicon-erase" ng-hide="$ctrl.quizz.id && $ctrl.user.id != $ctrl.quizz.userId" ng-click="$ctrl.refresh()" uib-tooltip="Supprimer les modifications"></a>
    <button type="button" class="btn btn-success glyphicon glyphicon-copy" ng-show="$ctrl.quizz.id" uib-tooltip="Cloner le quizz" ng-click="$ctrl.cloneQuizz()"></button>
    <button ng-show="$ctrl.quizz.id" type="button" class="btn btn-info glyphicon glyphicon-bullhorn" ui-sref="home.campaign({quizzId:$ctrl.quizz.id})" uib-tooltip="Créer la campagne associée"></button>
    <a class="btn btn-success glyphicon glyphicon-print" ng-show="$ctrl.quizz.id" ui-sref="quizzPrint({quizzId:$ctrl.quizz.id})" uib-tooltip="Imprimer le quizz"></a>
    <span ng-class="{disabled:$ctrl.quizz.id == undefined}" ng-show="$ctrl.user.id == $ctrl.quizz.userId">
      <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="$ctrl.delete()" uib-tooltip="Supprimer"></button>
    </span>
    <button type="button" class="btn btn-primary glyphicon glyphicon-copy" ng-hide="$ctrl.quizz.id == undefined && $ctrl.user.id == $ctrl.quizz.userId" ng-click="$ctrl.fork()" uib-tooltip="Copier ce quizz"></button>
  </div>
</form>
