<form ng-submit="$ctrl.save()">
  <div class="panel panel-default">
    <div class="panel-heading">Campagne</div>
    <div class="panel-body">
      <edit-categories categories="$ctrl.campaign.categories" is-my-quizz="true" existing-categories="$ctrl.categories" place-holder="'Campagne'"></edit-categories>
      <div class="form-group">
        <label>Nom *</label>
        <input type="text" ng-model="$ctrl.campaign.name" class="form-control" required="">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" ng-model="$ctrl.campaign.description" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label>Comportement après la réponse</label>
        <div class="radio">
          <label>
            <input type="radio" ng-model="$ctrl.campaign.afterSubmissionAction" name="afterSubmissionAction" value="THANK" required> Remercier pour la participation
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="$ctrl.campaign.afterSubmissionAction" name="afterSubmissionAction" value="SHOW_ANSWER"> Montrer les réponses
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="$ctrl.campaign.afterSubmissionAction" name="afterSubmissionAction" value="SHOW_SCORE"> Montrer le score
          </label>
        </div>
      </div>
      <div class="form-group" ng-show="$ctrl.campaign.id">
        <label for="description">Url de la page de campagne</label>
        <a ui-sref="answer({id:$ctrl.campaign.id})" target="_blank">{{$ctrl.answerPage()}}</a>
      </div>
      <div class="form-group">
        <label>Type de campagne</label>
        <div class="radio">
          <label>
            <input type="radio" ng-model="$ctrl.campaign.type" name="campaignType" value="ANONYMOUS" required ng-change="$ctrl.changeType()"> Anonyme
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="$ctrl.campaign.type" name="campaignType" value="INDIVIDUALIZED" ng-change="$ctrl.changeType()"> Personnalisée
          </label>
          <p class="help-block">Une campagne anonyme permet de configurer une période d'accès et met à dispo un rapport général sur l'ensemble des réponses des participants (ex: Quizz de Formation).
            Une campagne personnalisée permet de s'intéressé à la réponse de chaque particpant, on peut définir un temps de réponse pour la campagne (ex: Quizz de recrutement).</p>
        </div>
        <div class="form-group" ng-if="$ctrl.campaign.type === 'INDIVIDUALIZED'">
          <label>Temps de réponse</label>
          <input type="number" class="form-control" ng-model="$ctrl.campaign.delayToAnswer" min="0" max="3600" required="" placeholder="temps en minutes">
        </div>
      </div>
    </div>
  </div>
  <respondent-info infos="$ctrl.campaign.askedRespondentInfo" show-usual="$ctrl.campaign.type === 'ANONYMOUS'"></respondent-info>
  <div class="panel panel-default" ng-hide="$ctrl.campaign.type !== 'ANONYMOUS'">
    <div class="panel-heading">Modalité de disponibilité de la campagne</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Status</label>
        <label class="radio-inline">
          <input type="radio" ng-model="$ctrl.campaign.status" name="campaignStatus" value="RUNNING" required> Ouverte
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="$ctrl.campaign.status" name="campaignStatus" value="CLOSED"> Fermée
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="$ctrl.campaign.status" name="campaignStatus" value="CONDITIONED"> Conditionnée
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="$ctrl.campaign.status" name="campaignStatus" value="ARCHIVED"> Archivée
        </label>
      </div>
      <fieldset ng-if="$ctrl.campaign.status === 'CONDITIONED'">
        <div class="form-group">
          <label class="col-sm-2 control-label">Date de début</label>
          <div class="col-sm-10">
            <p class="input-group">
              <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="$ctrl.campaign.startDate" is-open="$ctrl.open.startDate" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Date de fin</label>
          <div class="col-sm-10">
            <p class="input-group">
              <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="$ctrl.campaign.endDate" is-open="$ctrl.open.endDate" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
            </span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label>Nombre maximum de réponses</label>
          <input type="number" class="form-control" ng-model="$ctrl.campaign.maxAnswers" min="0" />
        </div>
      </fieldset>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Liste des destinataires</div>
    <div class="panel-body">
      <div ng-if="$ctrl.campaign.id">
        <mail-list mails="$ctrl.campaign.recipients" campaign-id="$ctrl.campaign.id" mail-to-send="$ctrl.mailToSend" send-mail="$ctrl.sendMail()"></mail-list>
      </div>
      <div ng-if="!$ctrl.campaign.id">
        <span class="text-muted">Vous ne pouvez pas envoyer de mail tant que la campagne n'est pas enregistrée.</span>
      </div>
    </div>
  </div>
  <div class="panel panel-default" ng-if="$ctrl.campaign.id">
    <div class="panel-heading">Ajouter un quizz</div>
    <div class="panel-body">
      <div ng-hide="$ctrl.addAlert" class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled">
          Choisir un quizz <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="quizz in $ctrl.quizzes track by $index"><a ng-click="$ctrl.addQuizz(quizz.key)">{{quizz.name}} {{quizz.categories | categories}}</a></li>
        </ul>
      </div>
      <uib-alert ng-show="$ctrl.addAlert" id="alerts" ng-model="$ctrl.addAlert" type="$ctrl.addAlert.type">
        {{$ctrl.addAlert.msg}}
      </uib-alert>
    </div>
  </div>
  <div style="margin-bottom:30px;">
    <quizz-view ng-repeat="quizz in $ctrl.campaign.quizzes" quizz="quizz" heading="'Détail du quizz: ' + quizz.name"></quizz-view>
  </div>
  <div class="floating-btn-group">
    <button type="submit" class="btn btn-success glyphicon glyphicon-floppy-disk" uib-tooltip="Enregistrer ce quizz"></button>
    <a ng-show="$ctrl.campaign.id" class="btn btn-warning glyphicon glyphicon-erase" ui-sref="home.campaigns" uib-tooltip="Annuler les modifications"></a>
    <button type="button" class="btn btn-success glyphicon glyphicon-duplicate" ng-show="$ctrl.campaign.id" uib-tooltip="Cloner la Campagne" ng-click="$ctrl.clone()"></button>
    <button type="button" class="btn btn-warning glyphicon glyphicon-compressed" ng-show="$ctrl.campaign.id" uib-tooltip="Archiver/Désarchiver" ng-click="$ctrl.archive()"></button>
    <a ng-show="$ctrl.campaign.id" class="btn btn-info glyphicon glyphicon-comment" target="_blank" ui-sref="answer({id:$ctrl.campaign.id})" uib-tooltip="Page de réponse"></a>
    <a ng-show="$ctrl.campaign.id" class="btn btn-primary glyphicon glyphicon-stats" ui-sref="home.campaignDetail({id:$ctrl.campaign.id})" uib-tooltip="Statistique des réponses"></a>
    <button ng-show="$ctrl.campaign.id" type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="$ctrl.delete()" uib-tooltip="Supprimer"></button>
  </div>
</form>
