<section class="col-md-6">
  <fieldset ng-disabled="true">
    <question-view question="$ctrl.questionStatistics.question" index="$ctrl.index"></queston-view>
  </fieldset>
</section>
<section class="col-md-6">
  <div ng-if="$ctrl.questionStatistics.question.type !== 'OPEN'">
    <h3>Répartition des réponses </h3>
    <barchart ng-show="$ctrl.questionStatistics.frequenceOfResponseByAnswer" chart-data="$ctrl.questionStatistics.frequenceOfResponseByAnswer" question="$ctrl.questionStatistics.question"></barchart>
    <span ng-hide="$ctrl.questionStatistics.frequenceOfResponseByAnswer">Aucune réponse.</span>
    <span><label>Score moyen : </label> {{$ctrl.questionStatistics.meanScore | number:2}}%</span>
  </div>
  <div ng-if="$ctrl.questionStatistics.question.type === 'OPEN'">
    <h3>Liste des réponses</h3>
    <ul ng-repeat="response in $ctrl.questionStatistics.values">
      <li>{{response}}</li>
    </ul>
  </div>
</section>
