barchart {
  .chart {
      background: #eee;
      padding: 3px;
      padding-right: 10px;
  }

  .chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
  }

  .chart div {
    font: 10px sans-serif;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: dark;
    box-shadow: 2px 2px 2px #666;
  }
}
